.aside {
  width: 328px;
  height: 100vh;
  background: var(--dark);
  border-right: 1px solid #dedbdb;
  font-family: "poppins", sans-serif;
  position: relative;
}
.name-box {
  margin: 0 auto;
  margin-top: 20px;
  width: 230px;
  display: flex;
  justify-content: space-between;
  background: var(--yellow);
  height: 60px;
  border-radius: 8px;
  padding: 0 20px;
  color: var(--dark);
  align-items: center;
}
.name-box-details {
  display: flex;
  flex-direction: column;
}
.name-box-details p {
  margin: 0px;
}

.name-box-details span {
  margin-top: 0px;
}

.name-box span i {
  margin-top: 0px;
  font-weight: 600;
}

.aside-menu {
  margin-top: 40px;
}
.nav-links {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.aside-menu-title {
  width: 100%;
  padding-left: 20px;
  color: var(--yellow);
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 5px;
  margin-top: 15px;
  font-family: "poppins", sans-serif;
}
.nav-link {
  width: 230px;
  margin: 0px auto;
  height: 35px;
  display: flex;
  align-items: center;
  color: #fff;
  overflow: hidden;
  margin-bottom: 5px;
  font-size: 16px;
  cursor: pointer;
  padding-left: 20px;
  transition: all 0.3s ease;
  font-family: "poppins", sans-serif;
  text-decoration: none;
}

.aside-active:focus, .aside-active:hover, .aside-active:visited, .aside-active:link, .aside-active:active {
  color:var(--yellow);
}

.aside-active {
  color: var(--yellow);
  background-color: rgb(44, 42, 42);
  border-radius: 8px;
  text-decoration: none;
}

.nav-link:hover {
  color: #b50156;
}

.nav-link span {
  margin-right: 10px;
}

.nav-link span i {
  font-size: 20px;
}
.aside-footer {
  position: absolute;
  bottom: 10px;
  width: 100%;
}
.separator {
  height: 1px;
  width: 100%;
  background: var(--yellow);
  margin: 20px 0;
}

@media screen and (max-width: 1040px) {
  .aside {
    width: 215px;
    height: 100vh;
    background: #f3f5e6;
    display: none;
    border-right: 1px solid #dedbdb;
  }
}
